/* START *** Individual ToolTip Styles *** START */
div.domTT * {
		font-family:Verdana,Arial,Helvetica,sans-serif;
		font-size: 11px;
}

span.TTLable	{padding-left:0px; width:50px;display:inline;font-weight:bold;}
span.TTValue	{display:inline; font-weight:normal;}

div.TTContent1	{margin-bottom: 0px; padding-left:0px; padding-right: 0px; padding-top: 1 px; padding-bottom: 0 px;}
div.TTContent2	{margin: 0px; padding-left:3px; padding-right: 3px; padding-top: 1 px; padding-bottom: 1 px;}
p.TTLine 		{margin-top:2px; border-bottom:#DE2121 solid 0px; border-top:#DE2121 solid 1px}

/* Default DOM Tooltip Style */
div.domTT  {
    border: 1px solid #CE0000;
    background-color: #CE0000;
}
div.domTTCaption, .caption {
    font-weight: bold;
    padding: 1px 2px;
    color: #FFFFFF;
}
div.domTTContent, .contents  {
    padding: 3px 3px;
    background-color: #FFE7E7;
    color:#333333
}

/* ENDE *** Individual ToolTip Extensions *** ENDE */