/* CSS Document Bayer Styles */

body	{margin:0; } 
body, a, table, tr, td, select, input, form, li, p, textarea 	{font-size: 11px;font-family:Verdana,Arial,Helvetica, sans-serif;}

a, a:link, a:visited  {text-decoration: none;}
a:active  {COLOR: #333333; text-decoration: underline;}
a:hover {text-decoration: underline;}





/* Allgemeine Klassen */		
.form {display:inline;}
.line {background-color:#666666;}
.noline {background-color:#FFFFFF;}

/* Support Navigation */
#SupportNavigation 	{Z-INDEX: 2; LEFT: 1005px;; VISIBILITY: visible; POSITION: absolute; TOP: 55px;}
.supportNav, .supportNav:link, .supportNav:visited, .supportNav:active 
	{ margin-bottom:3px; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica; font-weight:bold; TEXT-DECORATION: none; COLOR: #5A5A5A; BACKGROUND-COLOR: #FFFFFF; }
.supportNav:hover 
	{ margin-bottom:3px; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica; font-weight:bold; TEXT-DECORATION: none; COLOR: #3C3C3C; BACKGROUND-COLOR: #FFFFFF; }

/* Portletinhalte */
.subtitle					{FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY:Aria; background-color: #C5D9EC;}
.even						{background-color:#F5F5F5;}
.odd						{background-color:#DAEBF5;}
.portlet-table-text 		{ FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial;}
.portlet-table-heading		{ FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY:Arial; font-weight: bold;}
.portlet-table				{ FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial;}
.portlet-field-label		{ FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; font-weight: bold;}
.portlet-field-value		{ FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial;}

/* Formular Definition */
.FormDesciption 	{FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial;}
.Button 			{font-size: 11px;}
.ButtonText			{background-color: #F5F5F5; font-size: 11px;}

/* Portlet Rahmen	*/	
.skinbgcolor 	{background-color:#E5E5E5;}
.portletBody	{}
.PortletTitle, .PortletTitle:link,.PortletTitle:active,.PortletTitle:visited,.PortletTitle:hover {color: #009898; font-weight:bold; font-size: 12px; FONT-FAMILY: Arial;TEXT-DECORATION: none;}
.skinborder 	{border-left: 1px solid #009898; border-right: 1px solid #009898; border-bottom: 1px solid #009898; border-top: 1px solid #009898;}
.skinline  	    {background-color:#029994;}

/* First und second Navigation */
.ToolBar 					{ background-color: #FFFFFF; font-size: 10pt; color: #999999;}
.PlaceBar 					{ background-color: #009999; color: #FFFFFF; background-repeat: no-repeat;}	
.bayerPageBar 				{ background-color: #009999;}	
.subnavbgcolor				{ background-color: #009999;}
.bayerActiveLink 			{ background-color: #CE3000;}
.bayerNavUnSelectedNode, .bayerNavUnSelectedNode:visited, .bayerNavUnSelectedNode:hover, .bayerNavUnSelectedNode:active {  font-size: 12px; color: #000000; background-color: ##F2F9FC; text-decoration: none; }
.bayerSiteLocator			{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #656565; BACKGROUND-COLOR: #337FCC; }
.bayerSiteLocator:visited		{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #656565; BACKGROUND-COLOR: #337FCC; }
.bayerSiteLocator:hover			{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #0000FF; BACKGROUND-COLOR: #337FCC; }
.bayerSiteLocator:active		{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #656565; BACKGROUND-COLOR: #AAAAAA; }
.bayerSiteLocatorSel 			{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #FFFFFF; BACKGROUND-COLOR: #337FCC;}
.bayerSiteLocatorSel:visited		{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #FFFFFF; BACKGROUND-COLOR: #337FCC;}
.bayerSiteLocatorSel:hover 		{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #FFFFFF; BACKGROUND-COLOR: #337FCC;}
.bayerSiteLocatorSel:active 		{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #FFFFFF; BACKGROUND-COLOR: #337FCC;}
.bayerTdSel 				{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #FFFFFF; BACKGROUND-COLOR: #337FCC;}
.bayerTdSubSel		 		{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #FFFFFF; BACKGROUND-COLOR: #337FCC;}
.bayerGlobalLinks 			{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #FFFFFF; BACKGROUND-COLOR: #999999;}
.bayerGlobalLinksAct, .bayerGlobalLinksAct:visited, .bayerGlobalLinksAct:hover, .bayerGlobalLinksAct:active { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #656565; BACKGROUND-COLOR: #FFFFFF; }
.bayerSelectedPlace 			{ font-family: Arial; font-size: 12px; color: #006666; background-color: #FF8431; text-decoration: none; font-weight:bold; }
.bayerSelectedPlace:link 		{ font-family: Arial; font-size: 12px; color: #006666; background-color: #FF8431; text-decoration: none; font-weight:bold;}
.bayerSelectedPlace:visited 	{ font-family: Arial; font-size: 12px; color: #006666; background-color: #FF8431; text-decoration: none; font-weight:bold;}
.bayerSelectedPlace:hover 		{ font-family: Arial; font-size: 12px; color: #006666; background-color: #FF8431; text-decoration: none; font-weight:bold;}
.bayerSelectedPlace:active 		{ font-family: Arial; font-size: 12px; color: #006666; background-color: #FF8431; text-decoration: none; font-weight:bold;}
.bayerUnSelectedPlace 			{ font-family: Arial; font-size: 12px; color: #ffffff; background-color: #009999; text-decoration: none; }
.bayerUnSelectedPlace:link 		{ font-family: Arial; font-size: 12px; color: #ffffff; background-color: #009999; text-decoration: none; }
.bayerUnSelectedPlace:visited		{ font-family: Arial; font-size: 12px; color: #ffffff; background-color: #009999; text-decoration: none; }
.bayerUnSelectedPlace:hover		{ font-family: Arial; font-size: 12px; color: #086868; BACKGROUND-COLOR: #98c8c8; text-decoration: none; }
.bayerUnSelectedPlace:active		{ font-family: Arial; font-size: 12px; color: #ffffff; background-color: #009999; text-decoration: none; }
.bayerVertSep 				{ FONT-SIZE: 9px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #656565; BACKGROUND-COLOR: #FFFFFF; }
.bayerHorSep 				{ FONT-SIZE: 9px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #656565; BACKGROUND-COLOR: #999999; }
.bayerSubNav				{ BACKGROUND-COLOR:#009999;}
.bayerSubNavUnselect 			{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helv, Helvetica; TEXT-DECORATION: none; COLOR: #656565; BACKGROUND-COLOR: #FFFFFF; }
.bayerSubNavSelect, .bayerSubNavSelect:visited, .bayerSubNavSelect:hover, .bayerSubNavSelect:active { font-family: Arial; font-size: 12px; color: #656565; background-color: #FFFFFF; text-decoration: none; }
.bayerSubNavSelectLink  		{ font-family: Arial; font-size: 12px; color: #656565; background-color: ##F2F9FC; text-decoration: none; }
.bayerFirstLevelNavBorderBottom		{ border-bottom:1px; border-bottom-style:solid; border-bottom-color:#FFFFFF;}
.bayerFirstLevelNavBorder		{ height:18px; border-left:1px; border-left-style:solid; border-left-color:#FFFFFF;}
.leftn					{ font-family: Arial, Helvetica, sans-serif;font-size: 12px; text-decoration: none; color : #999999;}
.leftn A:link				{ font-family: Arial, Helvetica, sans-serif;font-size: 12px; text-decoration: underline; color : #999999;}
.leftn A:visited			{ font-family: Arial, Helvetica, sans-serif;font-size: 12px; text-decoration: underline; color : #999999;}
.leftn A:hover				{ font-family: Arial, Helvetica, sans-serif;font-size: 12px; text-decoration: none; color : #999999;}
.bayerGlobalHeadline 			{ padding-left:4px; padding-top:1px; padding-bottom:1px; font-family:Arial; font-size:12px; font-weight:bold; background-color:#999999; color:#ffffff; }
.bayerGlobalLink, .bayerGlobalLink:visited, .bayerGlobalLink:link, .bayerGlobalLink:active { padding-top:1px; padding-bottom:1px; font-family:Arial; font-size:12px; font-weight:normal; background-color:#ffffff; color:#666666; text-decoration:none; }
.bayerGlobalLink:hover 			{ padding-top:1px; padding-bottom:1px; font-family:Arial; font-size:12px; font-weight:normal; background-color:#ffffff; color:#333366; text-decoration:none; }
.bayerGlobalDelimiter 			{ width:170px; font-family:Arial; height:1px; background-color:#666699;}
.supportHeadline 			{ font-family:Arial; font-size:10px; font-weight:bold; background-color:#999999; color:#ffffff; }
.supportLink, .supportLink:visited, .supportLink:link, .supportLink:active { padding-top:1px; padding-bottom:1px; font-family:Arial; font-size:10px; font-weight:normal; background-color:#ffffff; color:#666666; text-decoration:none; }
.supportLink:hover 			{ padding-top:1px; padding-bottom:1px; font-family:Arial; font-size:10px; font-weight:normal; background-color:#ffffff; color:#333366; text-decoration:none; }
.supportDelimiter			{ width:170px; font-family:Arial; height:1px; background-color:#666666;}

/* netFinder Portletausgabe */		
.netfinderheadline			{ background-color: #C5D9EC;}
.netfindertext				{ FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial;}
.netfindertitel				{ FONT-SIZE: 12px; FONT-FAMILY: Arial;}
.NetFinderLogoBGColor		{}
.highlight  				{ background-color: #FFFFCC; }


/* News */		
.NewsViewCurDate 			{font-family: Arial, Helvetica, sans-serif;font-size: 12px; text-decoration: none; color : #000000;}	
.NewsViewCurAnnouncement 	{font-family: Arial, Helvetica, sans-serif;font-size: 12px; text-decoration: none; color : #000000;}		
.NewsViewCurHeadline 		{font-family: Arial, Helvetica, sans-serif;font-size: 18px; font-weight:bold; text-decoration: none; color : #000000;}		
.NewsViewCurPlace			{font-family: Arial, Helvetica, sans-serif;font-size: 12px; text-decoration: none; color : #000000;}		
.NewsViewCurAbstract 		{font-family: Arial, Helvetica, sans-serif;font-size: 12px; text-decoration: none; color : #000000;}		
.NewsViewAllLink			{font-family: Arial, Helvetica, sans-serif;font-size: 12px; text-decoration: none;color : #337FCC;}		
		

/* Sonstiges */		
.personal 					{FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial;}
.loginbgcolor 				{background-color:#E6E6E6;}
.message 					{FONT-SIZE: 11px; COLOR: blue; FONT-FAMILY: Arial;}
.portlet-bgcolor 			{background-color:#E6E6E6}
.portlet-border             {background-color:#999999}
.portlet-menu				{FONT-SIZE: 12px; FONT-FAMILY: Arial;}
.portlet-menu-item			{FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; background-color:#DAEBF5;}
.portlet-menu-item-selected	{FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; ONT-WEIGHT: bold; background-color:#F5F5F5;}
.errorText					{FONT-SIZE: 12px; FONT-FAMILY: Arial; COLOR: red;}
.portletSeparator 			{ background-color:#003399; }

/* Tabs */
.tabbing 		{background-color:#999999;}
.selected-tab 	{color:#000000; background-color:#DAEBF5;}
.selected-tab-field-label {font-weight: bold;}
.unselected-tab, .unselected-tab:link, .unselected-tab:hover, .unselected-tab:visited {color:#ffffff; background-color:#999999; font-size: 12px; text-decoration:none;}

/* BMS Specific Styles */
.bms_news_date
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
	font-weight: bold;				
 	float: left;
 	display: block;
}

.bms_news_feature {
	font-weight: bold;
 	float: left;
	text-align: right;
	padding-right: 5px;
 	display: block;
}

.bms_news_feature_message
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
 	float: left;
 	display: block;
}

.bms_news_message
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;	
 	float: left;
 	display: block;
}

.bms_tableRow {
	border-left: 1px solid #009898;
	border-right: 1px solid #009898;
	border-top: 1px dotted #009898;
	background: #FFFFFF;
}

.bms_empytSection {
	border-left: 1px solid #009898;
	border-right: 1px solid #009898;
	border-bottom: 1px solid #009898;
	background: #FFFFFF;
}

.calendardate 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
 	float: left;
 	display: block;
}

.calendarmessage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
 	float: left;
 	display: block;
}

.calendartime{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
	font-weight: bold;
 	float: left;
 	display: block;
}


.header_tablerow{
	border-left: 1px solid #009898;
	border-right: 1px solid #009898;
	border-top: 1px solid #009898;
	background: #e0e0e0;
}

.section_table{ 
	border-bottom: 1px solid #009898;
}

.section_scrollbar{
	scrollbar-face-color: #e0e0e0;
	scrollbar-arrow-color: #676767;
	scrollbar-track-color: #ffffff;
	scrollbar-shadow-color: #e0e0e0;
}

.header_description{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
	font-weight: normal;
	text-decoration: none;
}

.header_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #009999;
}

.header_countertext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #c80000;
}

.maildate{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
	font-weight: bold;
 	display: block;
}

.mailname 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
 	float: left;
 	display: block;
}

.mailmessage 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
 	float: left;
 	display: block;
}

.workflowcat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
	font-weight: bold;
 	float: left;
 	display: block;
}

.workflowcount{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #c80000;
 	float: left;
 	display: block;
}
.graysmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

.graysmall a, .graysmall a:visited, .graysmall a:active, .graysmall a:link {text-decoration: none;}
.graysmall a:hover {text-decoration: none;color: #000000;}