html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,adds,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{ margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; } :focus{ outline: 0; } body{ line-height: 1; color: black; background: white; } ol,ul{ list-style: none; } table{ border-collapse: separate; border-spacing: 0; }
caption,th{ text-align: left; font-weight: normal; } 
blockquote:before,blockquote:after,q:before,q:after{ content: ""; } blockquote,q{ quotes: "" ""; } html{overflow-y:scroll;} body{ margin: 0; padding: 0; } #header{ display: block; width: 992px; height: 85px; text-indent: -9999px; background: url("../image/banner/header.jpg") no-repeat 0 9px; padding: 0; margin: 0; border: none; } #imageBanner{ height:170px; width: 992px; }
#page {overflow:hidden; white-space:nowrap;width:1150px;}
#content { white-space:normal;}

/* Body */
body {
	background-color:	#FFFFFF;
	margin: 			0;
	padding: 			0;
	height:				100%;
	width:				100%;
}


/* Main Container */
#container {
/*	width: 				996px; */
	width:				100%;
}

/* Header */
#head {
	height: 			70px;
	position: 			relative;
}

#headLeft {
	height:				70px;
}

#namingArea {
	height:				70px;
}

#headRight {
	right:				45px;
	top: 				1px;
	position: 			absolute;
}

#bayerLogo {
	height:				67px;
	width:				67px;
}

#bayerLogo a img {
	border: none;
}

.support { 
	display: block; padding: 0; margin: 0; position: absolute; right: 128px; top: 30px; font-size: 10px; height: 7px; line-height: 1.3; font-family: Arial,Helvetica,sans-serif;
	text-align: right; 
}

.support a {
	text-decoration: 	none;
	color:				grey;	
}

/* Top Navigation */
#mainNav {
	background-color:	#1A478A;
	border-bottom:		1px solid #FFFFFF;
	height:				20px;
	position: 			relative;
	font-size:			20px;
}

#mainNav .home {
	width: 170px;
}

#mainNav li.home a {
	margin-left: 		16px;
	padding:			0;	
}

#mainNav ul {
	list-style-type:	none;
	position: 			absolute;
	padding: 			0;
	margin:				0;
}

#mainNav li {
	border-right:		1px solid #FFFFFF;
	float:				left;
	position:			relative;
}

#mainNav a {
	color:				#FFFFFF;
	text-decoration: 	none;
	font-size:			12px;
	font-family:		sans-serif;
	font-weight:		bold;
	padding-left:		10px;
	padding-right:		10px;
	position: 			relative;
	bottom: 			2px;
}

#mainNav li.active {
	background-color: 	#339933;
}

/* Top Navigation Hover Menu*/
#mainNav ul li ul {
    display: 			none;
    visibility: 		hidden;
}

#mainNav ul li:hover > ul {
    display: 			block;
    visibility: 		visible;
}

#mainNav ul li ul {
	list-style-type: 	none;
	width: 				150px;
	padding: 			0;
	margin: 			0;
	background-color:	#F0F5E4;	
}

#mainNav ul li ul li {
	float: 				left;
	margin:				0;
	padding: 			0;
	overflow: 			hidden;
	border-top: 		1px solid #B3CFE9;
	width: 				100%;
	height: 18px;
}

#mainNav ul li ul li a {
	background-color:	#F0F5E4;
	color:				#339933;
	display:			block;
	font-size:			12px;
	font-weight:		normal;
	font-family:		sans-serif;
	text-decoration: 	none;
	padding-left: 		16px;
	bottom:				0;
	padding-top: 2px;
}

#mainNav ul li ul li a.active, #mainNav ul li ul li a:hover {
	background-color:	#339933;
	background-image: 	url("http://intranet.cnb/db/uk/HoldingPortal.nsf/BCSdefault/NAV_Arrow_FFFFFF.gif");
	background-repeat:	no-repeat;
	background-position:left;
	color:				#FFFFFF;
	font-weight:		bold;
	padding-bottom: 4px;
}


/* contentContainer */
#page {
	height: 			inherit;
	position:			inherit;
	width: 				100%;
	overflow: 			visible;
}

/* Content */
#content {
	clear: both;
}