/*************
  BHC Theme
 *************/
/* overall */
.tablesorter-bhc {
	width: 100%;
	text-align: left;
	border-spacing: 0;
}
.tablesorter-bhc,
.tablesorter-bhc th,
.tablesorter-bhc td {
	font: 12px/18px Arial, Sans-serif;
	border: #0099CC 1px solid;
	border-spacing: 0;
	padding: 0;
	text-align: left;
}

/* header */
.tablesorter-bhc thead tr,
.tablesorter-bhc tfoot tr {
}
.tablesorter-bhc th,
.tablesorter-bhc thead td {
	font-weight: bold;
	border-right: #0099CC 1px solid;
	border-collapse: collapse;
	padding: 3px;
}
.tablesorter-bhc .header,
.tablesorter-bhc .tablesorter-header {
	background: no-repeat 5px center;
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	/* background-image: url(images/green-unsorted.gif); */
	border-collapse: collapse;
	white-space: normal;
	cursor: pointer;
}
.tablesorter-bhc thead .headerSortUp,
.tablesorter-bhc thead .tablesorter-headerSortUp,
.tablesorter-bhc thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	/* background-image: url(images/green-asc.gif); */
}
.tablesorter-bhc thead .headerSortDown,
.tablesorter-bhc thead .tablesorter-headerSortDown,
.tablesorter-bhc thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	/* background-image: url(images/green-desc.gif); */
}
.tablesorter-bhc th.tablesorter-header .tablesorter-header-inner,
.tablesorter-bhc td.tablesorter-header .tablesorter-header-inner {
	padding-left: 23px;
}
.tablesorter-bhc thead .tablesorter-header.sorter-false {
	background-image: none;
	padding: 2px;
}

/* tfoot */
.tablesorter-bhc tbody td,
.tablesorter-bhc tfoot th {
	padding: 3px;
	vertical-align: top;
}

/* tbody */
.tablesorter-bhc td {
	color: #3d3d3d;
	padding: 3px;
}

/* hovered row colors
 you'll need to add additional lines for
 rows with more than 2 child rows
 */
.tablesorter-bhc tbody > tr:hover > td,
.tablesorter-bhc tbody > tr:hover + tr.tablesorter-childRow > td,
.tablesorter-bhc tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.tablesorter-bhc tbody > tr.even:hover > td,
.tablesorter-bhc tbody > tr.even:hover + tr.tablesorter-childRow > td,
.tablesorter-bhc tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
	background: #EBF8FF;
}
.tablesorter-bhc tbody > tr.odd:hover > td,
.tablesorter-bhc tbody > tr.odd:hover + tr.tablesorter-childRow > td,
.tablesorter-bhc tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
	background: #EBF8FF;
}

/* table processing indicator */
.tablesorter-bhc .tablesorter-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	/* background-image: url(../addons/pager/icons/loading.gif) !important; */
	background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
}

/* Zebra Widget - row alternating colors */
.tablesorter-bhc tr.odd td {
	background-color: #FFFFFF;
}
.tablesorter-bhc tr.even td {
	background-color:#FFFFFF;/* #F9FdFF, #EBF8FF*/
}

/* Column Widget - column sort colors */
.tablesorter-bhc td.primary,
.tablesorter-bhc tr.odd td.primary {
	background-color: #99e6a6;
}
.tablesorter-bhc tr.even td.primary {
	background-color: #c2f0c9;
}
.tablesorter-bhc td.secondary,
.tablesorter-bhc tr.odd td.secondary {
	background-color: #c2f0c9;
}
.tablesorter-bhc tr.even td.secondary {
	background-color: #d6f5db;
}
.tablesorter-bhc td.tertiary,
.tablesorter-bhc tr.odd td.tertiary {
	background-color: #d6f5db;
}
.tablesorter-bhc tr.even td.tertiary {
	background-color: #EBF8FF;
}

/* caption */
caption {
	background: #fff;
}

/* filter widget */
.tablesorter-bhc .tablesorter-filter-row td {
	background: #EBF8FF;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-bhc .tablesorter-filter-row .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}
/* hidden filter row */
.tablesorter-bhc .tablesorter-filter-row.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.tablesorter-bhc .tablesorter-filter-row.hideme .tablesorter-filter {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}
/* filters */
.tablesorter-bhc .tablesorter-filter {
	width: 100%;
	height: auto;
	/*margin: 2px;
	padding: 2px;*/
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
	cursor: pointer;
	background-color: #e6bf99;
}
