<?xml version="1.0" encoding="UTF-8"?>
<web-app 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns="http://java.sun.com/xml/ns/javaee" 
			xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" 
			xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
			id="WebApp_ID" version="2.5">
  <display-name>DOC41WEBUI</display-name>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>charsetFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>charsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>requestContextFilter</filter-name>
    <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>requestContextFilter</filter-name>
    <servlet-name>DocumentServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>configMap</servlet-name>
    <servlet-class>com.bayer.ecim.foundation.web.basic.InitializeConfigMap</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>doc41</servlet-name>
    <!-- <servlet-class>com.bayer.bhc.doc41webui.web.Doc41ExceptionResolver</servlet-class> -->
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>doc41</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>com.bayer.bhc.doc41webui.servlets.DocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/showDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SupportConsole</display-name>
    <servlet-name>SupportConsole</servlet-name>
    <servlet-class>com.bayer.ecim.foundation.web.supportconsole.FdtSupportConsoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupportConsole</servlet-name>
    <url-pattern>/SupportConsole</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Tomcat Status</display-name>
    <servlet-name>Status</servlet-name>
    <servlet-class>org.apache.catalina.manager.StatusManagerServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Status</servlet-name>
    <url-pattern>/status/*</url-pattern>
  </servlet-mapping>
  <mime-mapping>  
	     <extension>sap</extension>  
	     <mime-type>application/x-sapshortcut</mime-type>  
  </mime-mapping> 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>doc41-tags</taglib-uri>
      <taglib-location>/WEB-INF/tld/doc41-tags.tld</taglib-location>
    </taglib>
    
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  <context-param>
    <description>
			Defines the Spring configuration files used by the SPRING
			ContextLoaderListener.
		</description>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:cfg/spring/applicationContext.xml
			classpath:cfg/spring/spring-services.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>contextInitializerClasses</param-name>
    <param-value>com.bayer.bhc.doc41webui.common.config.FoundationSpringContextInitializer</param-value>
  </context-param>
  <context-param>
    <param-name>spring.profiles.default</param-name>
    <param-value>no-mock</param-value>
  </context-param>
  <session-config>
    <session-timeout>240</session-timeout>
  </session-config>
  
  	<!-- 404 Not Found -->
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error404.jsp</location>
	</error-page>
</web-app>