<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"	
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc			http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/beans			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/util 			http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/web-services	http://www.springframework.org/schema/web-services/web-services-2.0.xsd
		http://www.springframework.org/schema/oxm 			http://www.springframework.org/schema/oxm/spring-oxm-3.2.xsd">

	<!-- to include Foundation staging properties -->
	<context:property-placeholder/>
	
	<context:component-scan base-package="com.bayer.bhc.doc41webui.usecase,com.bayer.bhc.doc41webui.service,com.bayer.bhc.doc41webui.service.*,com.bayer.bhc.doc41webui.integration.*,com.bayer.bhc.doc41webui.integration.sap.service,com.bayer.bhc.doc41webui.tasks.model.*,com.bayer.bhc.doc41webui.web"/>
	
	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />
	
	
	<beans:bean id="applicationContextProvider" class="com.bayer.bhc.doc41webui.common.ApplicationContextProvider"></beans:bean>
</beans:beans>