<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<!-- to include Foundation staging properties -->
	<context:property-placeholder/>
	
	<context:component-scan base-package="com.bayer.bhc.doc41webui.usecase,com.bayer.bhc.doc41webui.service,com.bayer.bhc.doc41webui.service.*,com.bayer.bhc.doc41webui.integration.*,com.bayer.bhc.doc41webui.integration.sap.service,com.bayer.bhc.doc41webui.tasks.model.*"/>
	
	<bean id="applicationContextProvider" class="com.bayer.bhc.doc41webui.common.ApplicationContextProvider"></bean>
</beans>