<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util 			http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<!-- MONITORING		-->

	<!-- LOGGING 		-->

	<!-- MAPPER 		-->
	
	<!-- REPOSITORIES 	-->		 	

	
	<!--POI Excel -->
	<!-- <bean id="poiListOfValuesMapper" class="com.bayer.bhc.doc41webui.service.poi.PoiReflectionMapper">
		<constructor-arg ><value>com.bayer.bhc.doc41webui.integration.db.dc.masterdata.MDListOfValuesOverviewDC</value></constructor-arg>
		<constructor-arg>
			<list>
				<value>LovType</value>
				<value>LovKey</value>
				<value>LanguageCode</value>
			</list>
		</constructor-arg>
		<property name="excludeColumns">
			<list>
				<value>IsDefault</value>
			</list>
		</property>
		<property name="fixMethodName" value="fixAfterExcelImport"/>
	</bean> -->
	

	<!-- WebServices -->
	

	<!-- SERVICES -->		
	
	

<!-- for Spring MVC have some better error messages --> 
	<beans:bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<beans:property name="basename" value="message" />
	</beans:bean>

	<!-- Configuring Language Codes -->	
	<util:map id="languageCodes">
		<beans:entry key="en" value="English" />
		<beans:entry key="de" value="German" />
		<beans:entry key="es" value="Spanish" />
		<beans:entry key="zh" value="Chinese" />
		<beans:entry key="pt" value="Portuguese" />
	</util:map>


	<!-- Configuring Country Codes -->	
	<util:map id="countryCodes">
		<beans:entry key="*" value="*" />
		<beans:entry key="US" value="United States" />
		<beans:entry key="GB" value="United Kingdom" />
		<beans:entry key="DE" value="Germany" />
		<beans:entry key="ES" value="Spain" />
		<beans:entry key="PT" value="Portugal" />
	</util:map>
    
</beans:beans>
