body {
	background-color: #FFFFFF;
	background-image:url("../img/common/gradient.jpg");
	background-repeat: repeat;
}

input:focus, textarea:focus, select:focus {
	background-color: #99FFFF;
	outline: 1px solid #0099CC;
}


h5 {
    font-size: 11px;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
}

table {
	border-collapse: collapse;
}

th {
	font-weight: bold;
	font-size: 10px;
	border-style: solid;
}


.doc41-body {
	width: 100%;
}

.doc41-button {
	font-size: 13px; color: #0000FF; cursor: pointer;
}

/* non-IE browsers will use this */
body > .doc41-body {width: 99%;}


.doc41-table-header * th {
    border-width: 0 1px 1px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #FFFFFF;
    margin: 0 0;
    padding: 2px 2px 2px 3px;
    text-align: center;
}


#submitted th {
	background: none repeat scroll 0 0 #008080;
    border: 1px solid #78b473;
    color: #FFFFFF;
    margin: 0 0;
    padding: 2px 2px 2px 3px;
    text-align: center;
}

#transfer th {
	background: none repeat scroll 0 0 #008080;
    border: 1px solid #66BEE3;
    color: #FFFFFF;
    margin: 0 0;
    padding: 2px 2px 2px 3px;
    text-align: center;
}

#shipto th, #shelf th, #discard th, #upsells th, #promos th, #history th, #bonustierfull th, #material-tabs th {
    background: none repeat scroll 0 0 #1E4188;
    border: 1px solid #66BEE3;
    color: #FFFFFF;
    margin: 0 0;
    padding: 2px 2px 2px 3px;
    text-align: center;
}


.cartproduct {
	background: none repeat scroll 0 0 #A3B2CC;
	display: none;
}

#creditCard tr {
	background: none;
}


#submitted td, #transfer td {
	border: 1px solid #666666;
    margin: 0 0;
    padding: 2px 2px 2px 3px;
    text-align: center;
    font-weight: normal;
    font-size: 10px;
}

#shipto td, #shelf td, #basket td, #discard td, #upsells td, #promos td, #history td, #bonustierfull td, #bus td, .historyTotals td, #adjustment td, .litTable td {
    border: 1px solid #66BEE3;
    margin: 0 0;
    padding: 2px 2px 2px 3px;
    text-align: center;
}


#cart .product-desc, #shelf .product-desc, #discard .product-desc, #upsells .product-desc, #promos .product-desc, #transfer .product-desc {
	background-position: right center; 
	background-repeat: no-repeat;
    padding-right: 20px;
    text-align: left;
}

.multiples {
	height: 1.6em;
	width: 5em;
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; 
	font-size: 1.1em;
	text-align: center;	
	vertical-align: middle;
	border: 1px solid #aed0ea; 
	background: #d7ebf9; 
	font-weight: bold; 
	color: #2779aa; 
	outline: none;
	-moz-border-radius: 6px;
	border-radius: 6px;  
	-webkit-border-radius: 6px;
}


.ui-widget-content {
    border-left: 1px;
}

#material-tabs .ui-widget-header {
    /* background: url("images/ui-bg_highlight-soft_100_deedf7_1x100.png") repeat-x scroll 50% 50% #DEEDF7; */
    border: 1px solid #AED0EA;
    color: #222222;
    font-size: 10px;
    font-weight: bold;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	/* background: url("images/ui-bg_glass_50_3baae3_1x400.png") repeat-x scroll 50% 50% #3BAAE3; */
	background: repeat-x scroll 50% 50% #3BAAE3;
    color: #FFFFFF;
    font-size: 10px;
    text-decoration: none;
}

.doc41-body-overlay {
	margin-top: 5px;
	margin-left: 32px; 
	margin-right: 3px;
	background-color: #FFFFFF;
	border: 1px solid #009899;
}

.doc41-section-body {
	font-size: 10px;
	display: block;
	padding-top: 4px;
	padding-left: 5px;
}

.doc41-panel-header {
    background: url("../img/common/message-bar.gif") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #666666;
    margin-top: 5px;
    padding: 0 1px 0 8px;
}

.doc41-section-header {
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;  
	background-color: #EEEEEE; 
	border: 1px solid #009899; 
	border-bottom: 0px; 
	width: 200px; 
	height: 15px; 
	padding-top: 5px;
	
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #009899;
}

.doc41-separator {
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: black;
	display: block;
	border-top: 1px solid #009899;
	padding-bottom: 5px;
}

#overlay_menu {
    border: 0px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: expression( ( 106 + ( ignoreMe = document.body.scrollTop ) ) + 'px' );
    width: 29px;
    z-index: 10;
}
/* non-IE browsers will use this */
body > #overlay_menu { position: fixed; top: 106px; }

#overlay_menu span {
    position: absolute;
    margin-left: 0px;
}
/* non-IE browsers will use this */
body > #overlay_menu span.tab { 
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    background: none repeat scroll 0 0 #CCCCCC;
    border-color: #1E4188;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    color: #FFFFFF;
    display: block;
    height: 70px;
    margin: 0;
    outline: medium none;
    padding: 0px 5px;
    position: fixed;
    text-decoration: none;
    top: 106px;
    z-index: 1100;
}

body > #overlay_menu span.tab.active {
	background: url("../img/common/grayArrow60.gif") repeat scroll -20px -52px transparent;
}

.inv-table-header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #ffffff; 
	background-color: #0032c1;
}

.inv-table-header * th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-color: #0032c1;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	text-align: left;
}

.inv-table-header * td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-color: #0032c1;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	color: black;
	background-color: white;
	font-weight: normal;	
	text-align: left;
}

.highlight{
	background-image:url(../img/common/highlight.gif);
}

.highlightmarked{
	background-image:url(../img/common/highlight.gif);
	color: #FF6060;
	font-weight: bold;

}

.breadcrumb{
    border-width: 0 1px 1px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
    height: 18px;
    margin: 2px 2px 2px 5px;
    padding: 2px 20px 2px 3px;
	color: #ffffff; 
	background-color: #0032c1;
	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 4em 1em 4em;
	text-align:left;
}

.indextab{
    border-width: 0 1px 1px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
    height: 18px;
    margin: 2px 2px 2px 5px;
    padding: 2px 20px 2px 3px;
	color: #ffffff; 
	background-color: #0032c1;
	-moz-border-radius: 1em 4em 1em 1em;
	border-radius: 1em 4em 1em 1em;
	text-align:left;
	float: left;
}

.inv-section-header-wide {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	display: block;
	background-color: #F2F9FC;
	border: 1px solid #0032c1;
	padding: 4px 1px;
	margin-left: 5px;
	text-align: right;
	width: 1500px;
	height: 18px;
}

.inv-section-body-wide {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	display: block;
	background-color: #F2F9FC;
	border: 1px solid #0032c1;
	padding: 4px 1px;
	margin-left: 5px;
	width: 1500px;
}
