.portlet-section-header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	display: block;
	background-color: #EBF8FF;
	border: 1px solid #0099CC;
	padding: 4px 1px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: right;
	width: inherit;
	height: 18px;
}

.portlet-section-subheader  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #0099CC;
}

.portlet-section-header tbody tr th {
	font-weight: bold;
}

.portlet-section-header tr td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-bottom: 1px solid #0099CC;
}

.portlet-section-body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	display: block;
	background-color: #EBF8FF;
	border: 1px solid #0099CC;
	padding: 4px 1px;
	margin-left: 5px;
	margin-right: 5px;
	width: inherit;
}

.portlet-section-body table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #0099CC;
	width: 100%;
	border-collapse: collapse;
}

/* Table */
.portlet-table-header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #0099CC;
	background-color: F2F9FC;
	padding: 4px;
}

.portlet-table-header * th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-color: #0099CC;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	text-align: left;
	padding: 4px;
	font-weight: bold;
}

.portlet-table-header * td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-color: #0099CC;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	color: black;
	background-color: white;
	font-weight: normal;	
	text-align: left;
	padding: 4px;
}

.portlet-table-body * td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-color: #0099CC;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	text-align: left;
	padding: 4px;
	vertical-align: middle;
}

.portlet-table-body tr.nobottom td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-color: #0099CC;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	text-align: left;	
}

.portlet-table-body * th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #EBF8FF; 
	border-color: #0099CC;
	color: #0099CC;	
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	vertical-align: middle;
}

.portlet-table-header tr.nobottom th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-color: #0099CC;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
}

.portlet-table-body tr.nobottom th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #EBF8FF; 
	border-color: #0099CC;
	color: #0099CC;	
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;	
}

.portlet-table-body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: black;
	background-color: white;
}

.portlet-table-alternate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #EBF8FF;	
}

.portlet-table-selected {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #BBE3E3;
}

.portlet-table-subheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #0099CC;
}

.portlet-table-footer {
}

.portlet-table-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: black;
}

/* Form */
.portlet-form-button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: black;
	border: 2px solid #0099CC;	
	background-color: white;
}

.portlet-form-input-field {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: black;
	border: 1px solid #0099CC;
}

.portlet-form-button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: black;
	border: 2px solid #0099CC;	
	background-color: white;
}

.portlet-form-field-label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: black;
}