.portlet-section-body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	padding: 4px 1px;
	margin-left: 5px;
	margin-right: 5px;
	width: inherit;
}

.portlet-section-body table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;
}

/* Table */
.portlet-table-header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #0099CC;
	padding: 4px;
}

.portlet-table-header * th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	padding: 4px;
	font-weight: bold;
	background-color: #EBF8FF; 
}

.portlet-table-header * td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	background-color: white;
	font-weight: normal;	
	text-align: left;
	padding: 4px;
}

.portlet-table-body * td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
 	border-color: #0099CC; 
	text-align: left;
	padding: 4px;
	vertical-align: middle;
	color: #565656;
}

.portlet-table-body tr.nobottom td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;	
}

.portlet-table-body * th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-color: #0099CC;
	color: #0099CC;	
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	vertical-align: middle;
}

.portlet-table-header tr.nobottom th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.portlet-table-body tr.nobottom th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #EBF8FF; 
	border-color: #0099CC;
	color: #0099CC;	
	font-weight: bold;
	text-align: right;
	padding-right: 10px;	
}

.portlet-table-body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: black;
	background-color: white;
}

.portlet-table-alternate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.portlet-form-input-field {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: black;
}

.portlet-form-input-field-mandatory {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: black;
	background-color: #FFDDDD;
}

.portlet-section-header {
	font-family: 		Verdana, Arial, Helvetica, sans-serif;
	font-size: 			14px;
	font-weight: 		bold;
	color: 				#0099CC;
	display: 			block;
	padding:			4px 1px;
	margin-left: 		5px;
	text-align: 		right;
	height: 			25px;
}

.portlet-section-header-title {
	float: 				left;
	color:				#00559C;
}